<nav class="navbar box-shadow app-header fixed-top" [class.logo-visible]="showInfoContent">
  <div class="d-flex flex-column w-100">
    <div id="info-content" class="panel-collapse collapse">
      <a class="close" data-toggle="collapse" href="#info-content" (click)="showInfoContent = !showInfoContent" [class.show]="showInfoContent">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <div class="d-flex justify-content-start align-items-center top-navbar">
      <span class="navbar-text menu-icon transition ml-3 mr-3" [ngClass]="{'open': settings.theme.showMenu}" (click)="settings.theme.showMenu = !settings.theme.showMenu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </span>

      <div class="top-rigth-icons ml-auto">
        <span class="d-none d-sm-inline-block">
          <!-- Full screen component here-->
        </span>

        <span class="d-none d-sm-inline-block">
          <app-user-menu [userInfo]="userInfo$ | async"></app-user-menu>
        </span>
      </div>

    </div>

  </div>
</nav>