<div class="row mb-1">
  <div class="col">
    <div class="input-group mb-3 box-shadow">
      <div class="input-group-prepend">
        <span class="input-group-text border-top-0 border-left-0 border-bottom-0">
          <i class="fa fa-search"></i>
        </span>
      </div>
      <input type="text" [(ngModel)]="searchText" placeholder="Search employee by name..." class="form-control border-0">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="table-responsive bg-white box-shadow">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Position</th>
            <th>Email</th>
            <th>Status</th>
            <th>Gender</th>
            <th>Race</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees | employeesSearch: searchText  | paginate: { itemsPerPage: 6, currentPage: p }">
            <td class="align-middle text-truncate">{{employee.user.first_name}} {{employee.user.last_name}}</td>
            <td class="align-middle text-truncate">{{employee.position.level}} {{employee.position.name}}</td>
            <td class="align-middle text-truncate">{{employee.email}}</td>
            <td class="align-middle">
              <i class="fa fa-user mr-2" [ngClass]="{ 'text-success': employee.is_active, 
                                                                                       'text-inverse': !employee.is_active}"
                placement="bottom" [ngbTooltip]="(employee.is_active) ? 'active' : 'inactive'"></i>
            </td>

            <td class="align-middle text-truncate">{{employee.gender | gender}}</td>
            <td class="align-middle text-truncate">{{employee.race | race }}</td>
            <td class="align-middle">
              <div class="btn-group" role="group">
                <button class="btn btn-secondary btn-sm" (click)="openModal(modalContent, employee)">
                  <i class="fa fa-eye"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="bg-white text-center">
      <pagination-controls autoHide="true" (pageChange)="p=$event" maxSize="3"></pagination-controls>
    </div>
  </div>
</div>

<!-- VIEW DETAILS MODAL-->
<ng-template #modalContent>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 vertical-tabs">
        <form class="row px-3">
          <div class="col-12 border-0">
            <div>
              <h5>Work Details</h5>
              <div class="form-group">
                <label class="text-gray">First Name:</label>
                <input class="form-control" readonly [value]="employee.user.first_name" type="text">
              </div>
              <div class="form-group">
                <label class="text-gray">Last Name:</label>
                <input class="form-control" readonly [value]="employee.user.last_name" type="text">
              </div>
              <div class="form-group">
                <label class="text-gray">Position:</label>
                <input class="form-control" readonly value="{{employee.position.level}} {{employee.position.name}}" type="text">
              </div>
              <div class="form-group">
                <label class="text-gray">Years Worked</label>
                <input class="form-control" readonly [value]="employee.years_worked" type="text">
              </div>
              <div class="form-group">
                <label class="text-gray">Is Active:</label>
                <input class="form-control" readonly [value]="employee.user.is_active" type="text">
              </div>
              <div class="form-group">
                <label class="text-gray">Is Staff:</label>
                <input class="form-control" readonly [value]="employee.user.is_staff" type="text">
              </div>
            </div>
            <div>
              <h5>Personal Details</h5>
              <div class="form-group">
                <label class="text-gray">Username:</label>
                <input class="form-control" readonly [value]="employee.user.username" type="text">
              </div>
              <div class="form-group">
                <label class="text-gray">Email:</label>
                <input class="form-control" readonly [value]="employee.user.email" type="text">
              </div>
              <div class="form-group">
                <label class="text-gray">Gender</label>
                <input class="form-control" readonly [value]="employee.gender | gender" type="text">
              </div>
              <div class="form-group">
                <label class="text-gray">Phone Number:</label>
                <input class="form-control" readonly [value]="employee.phone_number" type="text">
              </div>
              <div class="form-group">
                <label class="text-gray">Github User:</label>
                <input class="form-control" readonly [value]="employee.github_user" type="text">
              </div>
              <div class="form-group">
                <label class="text-gray">Birth Date:</label>
                <input class="form-control" readonly [value]="employee.birth_date | date" type="text">
              </div>
              <div class="form-group">
                <label class="text-gray">Days to Birthday</label>
                <input class="form-control" readonly [value]="employee.days_to_birthday" type="text">
              </div>
              <div class="form-group">
                <label class="text-gray">Age:</label>
                <input class="form-control" readonly [value]="employee.age" type="text">
              </div>
              <div class="form-group">
                <label class="text-gray">Race:</label>
                <input class="form-control" readonly [value]="employee.race | race" type="text">
              </div>
            </div>
          </div>
          <div class="col-12 bg-white text-center py-1">
            <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>