<app-top-panel></app-top-panel>

<app-bottom-panel></app-bottom-panel>

<!-- DRILL THROUGH MODAL-->
<ng-template #modalContent>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive bg-white box-shadow">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Position</th>
                                <th>Email</th>
                                <th>Gender</th>
                                <th>Race</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employee of drillThroughEmployees$ | async | paginate: { itemsPerPage: 6, currentPage: p }">
                                <td class="align-middle text-truncate">{{employee.user.first_name}} {{employee.user.last_name}}</td>
                                <td class="align-middle text-truncate">{{employee.position.level}} {{employee.position.name}}</td>
                                <td class="align-middle text-truncate">{{employee.email}}</td>
                                <td class="align-middle text-truncate">{{employee.gender | gender}}</td>
                                <td class="align-middle text-truncate">{{employee.race | race }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="bg-white text-center">
                    <pagination-controls autoHide="true" (pageChange)="p=$event" maxSize="3"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</ng-template>